<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head th:replace="~{fragments/header :: head}">
    <link rel="icon" href="../../static/images/safezone-icon.png" type="image/png">
    <title>Campanhas</title>
</head>
<body>
<div th:replace="~{fragments/header :: body}"></div>

<main>

    <h1>Campanhas</h1>
    <a th:href="@{/campanhas/nova}">Nova Campanha</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data Início</th>
            <th>Data Fim</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${campanhas}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.nome}"></td>
            <td th:text="${c.dataInicio}"></td>
            <td th:text="${c.dataFim}"></td>
            <td>
                <a th:href="@{/campanhas/editar/{id}(id=${c.id})}">Editar</a>
                <a th:href="@{/campanhas/deletar/{id}(id=${c.id})}">Deletar</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>

</body>
</html>
