<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head th:replace="~{fragments/header :: head}">
    <link rel="icon" href="../../static/images/safezone-icon.png" type="image/png">
    <title>Alertas</title>
    <style>
        .form-spacing {
            margin-right: 20px;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header :: body}"></div>

<main>

    <h1>Alertas</h1>
    <a th:href="@{/alertas/novo}">Novo Alerta</a>
    <table>
        <thead>
        <tr>
            <th class="form-spacing">ID</th>
            <th class="form-spacing">Título</th>
            <th class="form-spacing">Severidade</th>
            <th class="form-spacing">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${alertas}">
            <td class="form-spacing" th:text="${a.id}"></td>
            <td class="form-spacing" th:text="${a.titulo}"></td>
            <td class="form-spacing" th:text="${a.severidade}"></td>
            <td>
                <a class="form-spacing" th:href="@{/alertas/editar/{id}(id=${a.id})}">Editar</a>
                <a class="form-spacing" th:href="@{/alertas/deletar/{id}(id=${a.id})}">Deletar</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
